@media screen and (max-width: 800px){

    .App{
        justify-content: center;
    }

    #container {
        padding-left: 0px;
        padding-right: 0px;
        }

    .btn1{
        width: 50%;
    }

    h1.text-light{
        font-size: 50px;
    }

    h1.my_name{
        color: palevioletred;
        font-size: 55px;
    }

    h4.text-light{
        margin: 0px;
        text-align: center;
    }

    h3.text-light{
        font-size: 25px;
    }

    p.text-light{
        padding: .1px;
        font-size: 22px;
    }

    img.logo1{
        width: 400px;
    }

    div.about-section{
        padding-right: 20%;
        display: flex;
        flex-direction: column;
      }
    
    .my-pic{
        width: 99%;
        height: 99%;
       align-self: center;
    }


    .sliderimg{
        width: 85%;
    }

    .contactContainer{
        background-color: whitesmoke;
        border-style: dotted;
        border-color: palevioletred;
        width: 75%;
        border-radius: 25px;
        margin-top: 20px;
        padding: 10px;
        opacity: .9;
      }


      .html5{
        width: 25%;
      }
      
      .css3{
        width: 25%;
      }
      
      .java-script{
        width: 25%;
      }
      
      .react{
        width: 25%;
      }

      .calc_example{
        width: 50%;
        border-radius: 20%;
      }
    
      .footer{
        color: whitesmoke;
        background-color: palevioletred;
        width: 100%;
        height: 65px;
      }
}
  
